:root #stateLoader[data-theme="dark"] *,
:root #stateLoader * {
  --bg: #222;
  --shell-bg: #222d;
  --fg: #ccc;
  --border-clr: #666;
  --border: var(--border-clr) 1px solid;
  --start-button-bg: #86be6c38;
  --start-button-hover-bg: #86be6c66;
  --start-button-active-bg: #59754c38;
  --accent: #86be6c;
  --accent-dark: #779c66;
  --accent-darker: #67805c;
  --accent-light: #a9e090;
}
