@import url("./window/titlebar.css");
@import url("./window/elements.css");

div.window {
  position: fixed;
}

div.window:not(.core) {
  background-color: var(--bg);
  background-color: var(--accent-darker);
  border: var(--border-accent-dark);
  color: var(--fg);
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.window:not(.core).focused {
  border: var(--border-accent);
  background-color: var(--accent-dark);
}

div.window:not(.core) div.body {
  padding: 15px;
  height: calc(100% - 30px);
  background-color: var(--bg);
}

div.window:not(.core).resizable {
  resize: both !important;
}

div.window.core {
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
}

div.window.core div.body {
  height: 100%;
}
