div.window.shell div.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  background-color: var(--shell-bg);
  backdrop-filter: blur(10px);
  border-top: var(--border-clr) 1px solid;
  display: flex;
  align-items: center;
  gap: 0;
  z-index: 100000000000000000;
}

div.window.shell div.taskbar #activeApps {
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 5px;
  padding-left: 5px;
}

div.window.shell div.taskbar #activeApps::-webkit-scrollbar {
  height: 1px;
}

div.window.shell div.taskbar #activeApps button {
  height: 30px;
  margin: 5px 0;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  white-space: nowrap;
  width: 170px;
  min-width: 50px;
  text-align: left;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4px;
  background-color: var(--button-bg);
}

div.window.shell div.taskbar #activeApps button:hover {
  background-color: var(--start-button-bg);
}

div.window.shell div.taskbar #activeApps button:active {
  background-color: var(--button-active-bg);
}

div.window.shell div.taskbar #activeApps button.focused {
  background-color: var(--shell-bg);
}

div.window.shell div.taskbar #activeApps button.closing {
  display: none;
}

div.window.shell div.system-area {
  margin-left: auto;
  padding: 0 15px;
  min-width: fit-content;
  height: 100%;
  background-color: var(--button-bg);
}

div.window.shell div.system-area div#clock {
  line-height: 40px;
}

div.window.shell div.taskbar button#startButton {
  width: 41px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 41px;
  border-right: var(--button-bg) 1px solid;
}

div.window.shell div.taskbar button#startButton:hover {
  background-color: var(--start-button-bg);
}

div.window.shell div.taskbar button#startButton:active,
div.window.shell div.taskbar button#startButton.opened {
  background-color: var(--button-active-bg);
}

div.window.shell div.taskbar button#startButton img {
  width: 20px;
  height: 20px;
}
