div.window.fileMan div.body {
  padding: 0;
}

div.window.fileMan div.body div.top {
  height: 61px;
  width: 100%;
  border-bottom: var(--border);
}

div.window.fileMan div.body div.bottom {
  width: 100%;
  height: calc(100% - 61px);

  display: flex;
  align-items: center;
}

div.window.fileMan div.body div.sidebar {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  max-width: 200px;
  min-width: 200px;
  background-color: var(--bg);
  border-right: var(--border);
  padding: 10px;
}

div.window.fileMan div.body div.sidebar details {
  overflow: hidden;
  border: var(--button-bg) 2px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

div.window.fileMan div.body div.sidebar details:not([open]) {
  border-bottom: none;
}

div.window.fileMan div.body div.sidebar details summary {
  height: 26px;
  padding: 0 5px;
  font-weight: 600;
  line-height: 26px;
  background-color: var(--button-bg);
  display: block;
}

div.window.fileMan div.body div.sidebar details div {
  background-color: var(--bg);
  padding: 8px;
}

div.window.fileMan div.body div.content {
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
}

div.window.fileMan div.body div.content table {
  min-width: 450px;
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

div.window.fileMan div.body div.content table tr {
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

div.window.fileMan div.body div.content table td {
  height: 24px;
  padding: 0 6px;
}

div.window.fileMan div.body div.content table thead td {
  background-color: var(--button-bg);
  font-weight: 600;
}

div.window.fileMan div.body div.content table thead td + td {
  border-left: var(--button-hover-bg) 1px solid;
}

div.window.fileMan div.body img {
  image-rendering: pixelated;
}
