div.window.napkinText div.body {
  padding: 0;
}

div.window.napkinText div.body textarea {
  width: 100% !important;
  height: 100% !important;
  resize: none !important;
  border: none;
  background-color: var(--bg);
  color: var(--fg);
  padding: 10px;
}
