@import url("./shell/taskbar.css");
@import url("./shell/startmenu.css");

div.window.shell {
  background-image: url("/assets/bg/storm.png");
  background-position: center;
  background-size: cover;
}
