div.window div.titlebar {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7px;
  text-shadow: 1px 1px 0 #000;
  background-color: transparent;
}

div.window:not(.focused) div.titlebar {
  opacity: 0.5;
}

div.window div.titlebar div.window-title img {
  width: 16px;
  height: 16px;
}

div.window div.titlebar div.window-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

div.window div.titlebar div.controls {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 1px;
}

div.window div.titlebar div.controls button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.window div.titlebar div.controls button:hover {
  color: var(--accent-light);
}
