code {
  font-family: "Source Code Pro";
  white-space: pre;
}

pre {
  font-family: "Source Code Pro";
  white-space: pre;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px;
  background-color: var(--button-active-bg);
  border-radius: 4px;
  max-width: 100%;
  overflow-x: auto;
}
