div.window:not(.core) > div.body input {
  padding: 0 10px;
  height: 32px;
  background-color: var(--button-active-bg);
  border: var(--button-bg) 1px solid;
  border-radius: 5px;
}

div.window:not(.core) > div.body input:focus {
  border: var(--accent) 1px solid;
}
