@import url("./cabinet/topbar.css");
@import url("./cabinet/sidebar.css");
@import url("./cabinet/container.css");
@import url("./cabinet/statusbar.css");

div.window.cabinet > div.body {
  padding: 0;
}

div.window.cabinet div.top {
  height: 51px;
  border-bottom: var(--border);
}

div.window.cabinet div.panes {
  display: flex;
  align-items: center;
  height: calc(100% - 51px - 25px);
}

div.window.cabinet div.sidebar {
  width: 200px;
  height: 100%;
  border-right: var(--border);
  padding: 15px;
}

div.window.cabinet div#container {
  width: calc(100% - 200px);
  height: 100%;
  padding: 15px;
  overflow-x: auto;
  overflow-y: auto;
}
