div.window.debugTool div.body div.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.window.debugTool div.body div.controls button {
  width: 16px;
  height: 16px;
  background-color: transparent;
  font-size: 16px;
  padding: 0;
}
div.window.debugTool div.body div.controls button:hover {
  color: Var(--accent-light);
}

div.window.debugTool div.body div.primary-actions {
  display: flex;
  justify-content: space-between;
}

div.window.debugTool div.body div.primary-actions > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.window.debugTool div.body div.launcher {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

div.window.debugTool div.body div.launcher input {
  flex-grow: 1;
}

div.window.debugTool div.frame-test div.bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.window.debugTool div.frame-test div.bar input {
  flex-grow: 1;
}

div.window.debugTool #frameTest {
  width: 100%;
  aspect-ratio: 4/3;
}
