div.window.initialSetup div.body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

div.window.initialSetup div.top {
  display: flex;
  align-items: center;
  height: calc(100% - 51px);
}

div.window.initialSetup div.top div.page:not(.show) {
  display: none;
}

div.window.initialSetup div.top div.banner {
  height: 100%;
  width: 151px;
  padding: 25px;
  display: flex;
  justify-content: end;
  background: linear-gradient(to bottom right, var(--accent) 0%, var(--accent-darker) 100%);
  border-right: var(--border);
}

div.window.initialSetup div.top div.banner img {
  height: 48px;
  padding: 5px;
  border: var(--accent-light) 2px solid;
  background-color: var(--accent-dark);
}

div.window.initialSetup div.top div.container {
  width: calc(100% - 151px);
  padding: 20px;
  height: 100%;
}

div.window.initialSetup div.top div.container div.page > h1 {
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 20px;
  margin-bottom: 20px;
}

div.window.initialSetup div.top div.container div.page > h1 img {
  height: 32px;
}

div.window.initialSetup div.bottom {
  border-top: var(--border);
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 10px;
}
div.window.initialSetup div.bottom div.actions,
div.window.initialSetup div.bottom div.actions button {
  display: flex;
  gap: 10px;
  align-items: center;
}

div.window.initialSetup div.bottom div.actions button span.material-symbols-outlined {
  font-size: 16px;
}
div.window.initialSetup div.bottom div.actions div.sep {
  height: 30px;
  width: 1px;
  background-color: var(--border-clr);
}

div.window.initialSetup div#page2 table {
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}
div.window.initialSetup div#page2 table td {
  padding: 0;
}

div.window.initialSetup div#page2 table input {
  margin-left: 10px;
  margin-bottom: 5px;
  width: 250px;
}
