div.window.napkin > div.body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.window.napkin > div.body div.alt-bar,
div.window.napkin > div.body div.status-bar {
  height: 25px;
}
div.window.napkin textarea {
  width: 100%;
  height: calc(100% - 50px);
  padding: 5px;
  border: none;
  border-top: var(--border);
  border-bottom: var(--border);
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Source Code Pro";
  resize: none;
}

div.window.napkin div.status-bar {
  border-top: var(--border);
  height: 25px;
  padding: 0;
  display: flex;
  align-items: center;
}

div.window.napkin div.status-bar div.part {
  height: inherit;
  line-height: 24px;
  border-right: var(--border);
  width: fit-content;
  padding-left: 10px;
  padding-right: 20px;
}

div.window.napkin > div.body div.alt-bar {
  display: flex;
}

div.window.napkin > div.body div.alt-bar button {
  height: 25px;
  padding: 0 10px;
  background-color: transparent;
  border-radius: 0;
}

div.window.napkin > div.body div.alt-bar button:hover {
  background-color: var(--button-bg);
}
div.window.napkin > div.body div.alt-bar button:active {
  background-color: var(--button-active-bg);
}
