div.window.wallpaper {
  background-image: url("/assets/bg/storm.png");
  background-position: center;
  background-size: cover;
  z-index: -1 !important;
  opacity: 0;
  animation: appear 0.2s linear forwards;
  animation-delay: 0.5s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
