:root #main[data-theme="dark"] *,
:root #main * {
  --bg: #222;
  --shell-bg: #222d;
  --fg: #fff;
  --fg-secondary: #ddd;
  --border-clr: #666;
  --border: var(--border-clr) 1px solid;
  --border-accent: var(--accent) 1px solid;
  --border-accent-dark: var(--accent-darker) 1px solid;
  --start-button-bg: #be490038;
  --start-button-hover-bg: #be490066;
  --start-button-active-bg: #752d0038;
  --accent: #ff6200;
  --accent-dark: #bb4800;
  --accent-darker: #9c3c00;
  --accent-superdark: #3b2619;
  --accent-light: #ff9553;
  --button-bg: #333;
  --button-hover-bg: #444;
  --button-active-bg: #111;
  --secondary-border: var(--bg) 1px solid;
}
:root #main[data-theme="light"] * {
  --bg: #fff;
  --shell-bg: #fffb;
  --fg: #333;
  --fg-secondary: #666;
  --border-clr: #bbb;
  --border: var(--border-clr) 1px solid;
  --border-accent: var(--accent) 1px solid;
  --border-accent-dark: var(--accent-darker) 1px solid;
  --start-button-bg: #be490038;
  --start-button-hover-bg: #be490066;
  --start-button-active-bg: #752d0038;
  --accent: #ff9858;
  --accent-dark: #ff7f2f;
  --accent-darker: #b85b21;
  --accent-light: #ffc5a1;
  --button-bg: #eeeeee;
  --button-hover-bg: #dddddd;
  --button-active-bg: #dfdfdf;
  --secondary-border: none;
}
