:root #main[data-theme="dark"] *,
:root #main * {
  --bg: #222;
  --shell-bg: #222d;
  --fg: #fff;
  --border-clr: #666;
  --border: var(--border-clr) 1px solid;
  --border-accent: var(--accent) 1px solid;
  --border-accent-dark: var(--accent-darker) 1px solid;
  --start-button-bg: #86be6c38;
  --start-button-hover-bg: #86be6c66;
  --start-button-active-bg: #59754c38;
  --accent: #86be6c;
  --accent-dark: #779c66;
  --accent-darker: #44523e;
  --accent-light: #a9e090;
  --button-bg: #333;
  --button-hover-bg: #444;
  --button-active-bg: #111;
}
:root #main[data-theme="light"] * {
  --bg: #fff;
  --shell-bg: #fffb;
  --fg: #222;
  --border-clr: #bbb;
  --border: var(--border-clr) 1px solid;
  --border-accent: var(--accent) 1px solid;
  --border-accent-dark: var(--accent-darker) 1px solid;
  --start-button-bg: #86be6c38;
  --start-button-hover-bg: #86be6c66;
  --start-button-active-bg: #59754c38;
  --accent: #86be6c;
  --accent-dark: #779c66;
  --accent-darker: #44523e;
  --accent-light: #a9e090;
  --button-bg: #eee;
  --button-hover-bg: #ddd;
  --button-active-bg: #ccc;
}
