div.electron-toolbar {
  position: fixed;
  top: 10px;
  left: 50%;
  translate: -50% 0;
  width: 500px;
  background-color: #222;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 0 10px;
  transition: translate 0.3s, box-shadow 0.3s, opacity 0.3s;
  z-index: 1000000000000000000000000000000000000000000000000000000000000;
  backdrop-filter: blur(10px);
  border: #666 1px solid;
  box-shadow: 0 5px 20px 5px #0008;
  outline: #222 1px solid !important;
  color: #fff;
}

div.electron-toolbar-trigger {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 500px;
  height: 5px;
  background-color: #0000;
  z-index: 100000000000000000000000000000000000000000000000000000000000;
}

div.electron-toolbar p.caption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  line-height: 40px;
  pointer-events: none;
  color: #ddd;
  font-weight: bold;
}

div.electron-toolbar div.controls-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.electron-toolbar div.controls-wrapper button,
div.electron-toolbar button.devtools-toggle {
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: #fff;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
}

div.electron-toolbar.hidden,
div.electron-toolbar-trigger.hidden {
  display: none;
}

div.electron-toolbar.retracted {
  translate: -50% -60px;
  box-shadow: none;
  opacity: 0;
}
