@import url("./window/titlebar.css");
@import url("./window/elements.css");

div.window {
  position: fixed;
}

div.window:not(.core) {
  background-color: var(--bg);
  border: var(--border);
  outline: var(--bg) 1px solid !important;
  color: var(--fg);
  overflow: hidden;
  border-radius: 10px;
  animation: show 250ms forwards;
  box-shadow: 0 5px 20px 5px #0008;
  scale: 0.95;
  opacity: 0;
  transform-origin: center center !important;
  /* transition: all 0.3s; */
}

div.window.closing {
  scale: 1;
  animation: hide 250ms forwards !important;
  pointer-events: none;
}

div.window.core.closing {
  scale: 1 !important;
}
/* 
div.window:not(.core).focused {
  border: var(--border-accent);
}
 */
div.window:not(.core).maximized {
  transform: none !important;
  translate: 0 0 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: calc(100% - 41px) !important;
  border: none !important;
  resize: none !important;
  max-height: unset !important;
  max-width: unset !important;
  border-radius: 0 !important;
}

div.window:not(.core).minimized {
  pointer-events: none !important;
  animation: minimize 250ms forwards;
  scale: 1;
}

div.window:not(.core) div.body {
  padding: 15px;
  height: calc(100% - 31px);
  background-color: var(--bg);
}

div.window:not(.core):not(.maximized).resizable {
  resize: both !important;
}

div.window.core {
  width: 100%;
  height: 100%;
  background-color: #000;
  top: 0;
  left: 0;
}

div.window.core div.body {
  height: 100%;
  pointer-events: initial;
}

@keyframes show {
  0% {
    scale: 0.95;
    opacity: 0;
    /* margin-top: 20px; */
  }

  100% {
    scale: 1;
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes hide {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes minimize {
  0% {
    margin-top: 0;
    opacity: 1;
    scale: 1;
  }

  100% {
    margin-top: 20px;
    opacity: 0;
    scale: 0.9;
  }
}
