div.window.cabinet div#container div.item {
  display: flex;
  padding-left: 5px;
}

div.window.cabinet div#container div.item.header {
  font-weight: bold;
  margin-bottom: 5px;
}

div.window.cabinet div#container div.item.header > div.field.name {
  min-width: calc(150px + 16px);
}

div.window.cabinet div#container div.item > div.field {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 150px;
  height: 24px;
  line-height: 24px;
  padding-left: 5px;
}

div.window.cabinet div#container div.item > div.field.name {
  flex-grow: 1;
  padding-left: 0;
}

div.window.cabinet div#container div.item > div.field:not(:first-child) {
  width: 150px;
  padding: 0 10px;
}

div.window.cabinet div#container div.item:hover {
  background-color: var(--button-bg);
}
