div.window.cabinet div.sidebar p.caption {
  font-weight: bold;
  color: var(--fg-secondary);
  opacity: 0.7;
  margin: 15px 0;
  margin-bottom: 5px;
}

div.window.cabinet div.sidebar section:first-child p.caption {
  margin-top: 0;
}

div.window.cabinet div.sidebar button.item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: fit-content;
  padding: 3px 5px;
  margin: 0 -5px;
  border-radius: 0;
  background-color: transparent;
}

div.window.cabinet div.sidebar button.item:hover {
  background-color: var(--button-bg);
  text-decoration: underline;
}

div.window.cabinet div.sidebar button.item:active {
  background-color: var(--button-active-bg);
}
