.boot-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25vh 0;
  flex-direction: column;
  text-align: center;
}

.boot-screen img {
  height: 150px;
}

.boot-screen div.progress-bar {
  --bar-width: 250px;
  --bar-height: 7px;
}

.boot-screen div.progress-bar div.inner {
  animation-duration: 2s;
}

.boot-screen p#status {
  margin-top: 20px;
  text-align: center;
}

.boot-screen div.bottom {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
