.crash-screen {
  background-color: rgb(13, 28, 43);
  font-family: "unifont";
  white-space: pre;
  opacity: 0;
  animation: crash-show 0s linear forwards;
  animation-delay: 1s;
  transition: none !important;
  font-size: 16px;
}

@keyframes crash-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
