.login {
  background-color: var(--accent-darker);
  background-image: url("../../assets/bg/login.svg");
  background-size: cover;
  background-position: center;
}

.login #versionNumber {
  margin: 5px;
  font-family: "unifont";
  font-size: 16px;
}
